<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <meta charset="UTF-8">
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <style>
      .message {
        font-size: 1.3em;
        font-weight: bold;
      }
      .message.green {
        color: green;
      }
      .message.red {
        color: red;
      }
      .input-border-green {
        border-color: green;
      }
      .input-border-red {
        border-color: red;
      }
    </style>
  </head>
  <body ng-controller="LunchCheckController">
    <app-root></app-root>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <div class="container">
      <h1>Lunch Checker</h1>
      <div class="form-group">
        <input type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control" ng-model="lunchMenu">
      </div>
      <div class="form-group">
        <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
      </div>
      <div class="form-group message" ng-class="messageClass">
        <p>{{message}}</p>
      </div>
    </div>
    
  </body>
</html>
